Silverlight  State Machine Workflow Service/SecurityDoor/Service References/SecurityWeb/SecurityDoorService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://microsoft.com/samples/wf4/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://microsoft.com/samples/wf4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://microsoft.com/samples/wf4/Imports">
      <xsd:import schemaLocation="http://localhost:49238/SecurityDoorService.xamlx?xsd=xsd0" namespace="http://microsoft.com/samples/wf4/" />
      <xsd:import schemaLocation="http://localhost:49238/SecurityDoorService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49238/SecurityDoorService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecurityDoor.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityDoorService_NotifyDoorStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDoorStatus" />
  </wsdl:message>
  <wsdl:message name="ISecurityDoorService_AuthorizeKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeKey" />
  </wsdl:message>
  <wsdl:message name="ISecurityDoorService_AuthorizeKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityDoorService_DoorReset_InputMessage">
    <wsdl:part name="parameters" element="tns:DoorReset" />
  </wsdl:message>
  <wsdl:message name="ISecurityDoorService_DoorReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoorResetResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityDoorService">
    <wsdl:operation name="NotifyDoorStatus">
      <wsdl:input wsaw:Action="http://microsoft.com/samples/wf4/ISecurityDoorService/NotifyDoorStatus" message="tns:ISecurityDoorService_NotifyDoorStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeKey">
      <wsdl:input wsaw:Action="http://microsoft.com/samples/wf4/ISecurityDoorService/AuthorizeKey" message="tns:ISecurityDoorService_AuthorizeKey_InputMessage" />
      <wsdl:output wsaw:Action="http://microsoft.com/samples/wf4/ISecurityDoorService/AuthorizeKeyResponse" message="tns:ISecurityDoorService_AuthorizeKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoorReset">
      <wsdl:input wsaw:Action="http://microsoft.com/samples/wf4/ISecurityDoorService/DoorReset" message="tns:ISecurityDoorService_DoorReset_InputMessage" />
      <wsdl:output wsaw:Action="http://microsoft.com/samples/wf4/ISecurityDoorService/DoorResetResponse" message="tns:ISecurityDoorService_DoorReset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>