Silverlight  State Machine Workflow Service/SecurityDoor/Service References/SecurityWeb/SecurityDoorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityDoor.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityDoor.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alert" type="xs:boolean" />
      <xs:element minOccurs="0" name="Authorized" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizeResponse" nillable="true" type="tns:AuthorizeResponse" />
</xs:schema>